*
!*/

# track this file
!.gitignore

# whitelist
!rofi/**
!eww/**
!cava/**
!kitty/**
!nvim/**
!hypr/**
!ncmpcpp/**
!wpg/**
!wlogout/**
!waybar/**
!rofi/**
!pipewire/**
!ncmpcpp/**
!Wallpapers/**

# blacklist for some reason
JetBrains/
